* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.question-text {
  display: none;
  padding: 10px;
}

.show-text .question-text {
  display: block;
}
body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
section {
  width: 900px;
  border-radius: 20px;
  background-color: bisque;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 40px;

  & > div:nth-child(1) {
    & > h2 {
      font-size: 50px;
      text-align: center;
      border-bottom: 3px solid brown;
    }
  }
  & > div:nth-child(2) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 800px;
    height: 300px;
  }
}

.project {
  width: 250px;
  & > div:nth-child(1) {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    & > p {
      font-size: 20px;
    }
    & > button {
      width: 30px;
      height: 30px;
      background-color: darkkhaki;
      border: 1px solid darkkhaki;
      border-radius: 5px;
      font-size: 20px;
      padding: 5px;
      color: white;
    }
  }
}
