@import "./utils";

* {
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.deadline-format {
  display: flex;
  & > div {
    width: 80px;
    height: 95px;
    color: white;
    background-color: darkgreen;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
    & > h4 {
      font-size: 2rem;
    }
  }
}

.memo-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  & > h2 {
    font-size: 40px;
    margin-bottom: 20px;
  }
  & > div:nth-child(2) {
    display: flex;
    flex-direction: column;
    align-items: center;
    & > input,
    textarea {
      width: 200%;
      border-radius: 5px;
      padding: 10px;
      font-size: 20px;
      margin-bottom: 20px;
      border: 1px solid lightgray;
    }
    & > input:focus,
    textarea:focus {
      outline: 0;
    }
  }
}
.btn {
  width: 60px;
  padding: 7px;
  color: white;
  background-color: darkgreen;
  border: 1px solid darkgreen;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  margin-top: 10px;
}
.btn:focus {
  outline: 0;
}

.btn:hover {
  background: darkgreen;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.377);
}

.del-btn {
  width: 60px;
  padding: 7px;
  color: white;
  font-weight: 600;
  background-color: rgba(231, 203, 133, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.098);
  border-radius: 5px;
  cursor: pointer;
}

.del-btn:hover {
  background-color: rgb(231, 203, 133);
}

.warning {
  border-color: rgba(255, 111, 89, 0.8) !important;
}

#memo-list {
  display: flex;
  padding: 50px;
  flex-wrap: wrap;
  justify-content: center;
}

.memo-item {
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgba(255, 247, 0, 0.45);
  padding: 30px;
  box-shadow: 0 0 15px rgba(102, 102, 102, 0.184);
  margin: 20px;

  & > p {
    padding-top: 10px;
    padding-bottom: 10px;
    height: 100%;
  }
}

@include desktop {
  .section-center {
    display: flex;

    & > article:nth-child(1) {
      img {
        width: 500px;
        margin: 10px;
      }
    }
    & > article:nth-child(2) {
      width: 500px;
      height: 500px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;

      & > h3 {
        font-size: 40px;
      }
      & > h4 {
        font-size: 25px;
      }
    }
  }
}

@include tablet {
  .section-center {
    display: flex;

    & > article:nth-child(1) {
      img {
        width: 500px;
        margin: 10px;
      }
    }
    & > article:nth-child(2) {
      width: 500px;
      height: 500px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;

      & > h3 {
        font-size: 40px;
      }
      & > h4 {
        font-size: 25px;
      }
    }
  }
}

@include mobile {
  .section-center {
    display: flex;
    flex-direction: column;
    & > article:nth-child(1) {
      img {
        width: 500px;
        margin: 10px;
      }
    }
    & > article:nth-child(2) {
      width: 500px;
      height: 500px;
      display: flex;
      flex-direction: column;
      align-items: center;

      & > h3 {
        font-size: 40px;
      }
      & > h4 {
        text-align: center;
        font-size: 25px;
      }
    }
  }
}
