@import "./utils";

* {
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.deadline-format {
  display: flex;
  & > div {
    width: 80px;
    height: 95px;
    color: white;
    background-color: darkgreen;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
    & > h4 {
      font-size: 2rem;
    }
  }
}

@include desktop {
  .section-center {
    display: flex;

    & > article:nth-child(1) {
      img {
        width: 500px;
        margin: 10px;
      }
    }
    & > article:nth-child(2) {
      width: 500px;
      height: 500px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;

      & > h3 {
        font-size: 40px;
      }
      & > h4 {
        font-size: 25px;
      }
    }
  }
}

@include tablet {
  .section-center {
    display: flex;

    & > article:nth-child(1) {
      img {
        width: 500px;
        margin: 10px;
      }
    }
    & > article:nth-child(2) {
      width: 500px;
      height: 500px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;

      & > h3 {
        font-size: 40px;
      }
      & > h4 {
        font-size: 25px;
      }
    }
  }
}

@include mobile {
  .section-center {
    display: flex;
    flex-direction: column;
    & > article:nth-child(1) {
      img {
        width: 500px;
        margin: 10px;
      }
    }
    & > article:nth-child(2) {
      width: 500px;
      height: 500px;
      display: flex;
      flex-direction: column;
      align-items: center;

      & > h3 {
        font-size: 40px;
      }
      & > h4 {
        text-align: center;
        font-size: 25px;
      }
    }
  }
}
