* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
ul {
  width: 100vw;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: aqua;
}

.links {
  display: flex;
  list-style: none;
  font-size: 30px;
  justify-content: space-around;
  list-style-type: none;
}

.fixed-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
a {
  text-decoration: none;
}

#home {
  height: 80vh;
  background-color: blanchedalmond;
}
#about {
  height: 80vh;
  background-color: wheat;
}

#services {
  height: 80vh;
  background-color: aquamarine;
}

#tours {
  height: 80vh;
  background-color: darkcyan;
}

.top-link {
  font-size: 1.25rem;
  position: fixed;
  bottom: 3rem;
  right: 3rem;
  background: brown;
  width: 2rem;
  height: 2rem;
  display: grid;
  place-items: center;
  border-radius: 5px;
  color: white;
  animation: bounce 2s ease-in-out infinite;
  z-index: -100;
}

.show-link {
  visibility: visible;
  z-index: 100;
}
